/**
==============================
feS BUTTONS
==============================
 */

 #jims-fe-buttons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#jims-fe-buttons ul li {
    box-sizing: border-box;
    width: 22%;
    text-align: center;
    background-color: #222222;
    padding: 1.4em;
    margin: 0 1% 1.3em 0;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    height: fit-content;

    transition: background-color 300ms ease-in-out;
}

#jims-fe-buttons ul li a {
    color: #fe5514;
    text-shadow: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1em;
    transition: text-shadow 300ms 100ms ease-in;
}

#jims-fe-buttons ul li a:hover {
    text-decoration: none;
}

#jims-fe-buttons ul li:hover {
    background-color: #fe560d;
}

#jims-fe-buttons ul li:hover a {
    color: white;
    text-shadow: 2px 2px 3px #a2a1a1;
}

@media (min-width: 1421px) {
   #jims-fe-buttons ul li:nth-child(4n) {
        margin-right: 0;
    }
}

@media (max-width: 1420px) {
    #jims-fe-buttons ul li {
        width: 31%;
    }

    #jims-fe-buttons ul li:nth-child(3n) {
        margin-right: 0;
    }

    #jims-fe-buttons ul li:nth-child(4n){
        margin-right: 1%;
    }

}

@media (max-width: 1100px) {
    #jims-fe-buttons ul li {
        width: 48%;
    }

    #jims-fe-buttons ul li:nth-child(2n) {
        margin-right: 0;
    }

    #jims-fe-buttons ul li:nth-child(3n) {
        margin-right: 1%;
    }

    #jims-fe-buttons ul li:nth-child(4n) {
        margin-right: 1%;
    }

}

@media (max-width: 720px) {
    #jims-fe-buttons ul li {
        width: 100%;
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    #jims-fe-buttons ul li:nth-child(1n) {
        margin-right: 0;
    }

    #jims-fe-buttons ul li:nth-child(2n) {
        margin-right: 0;
    }

    #jims-fe-buttons ul li:nth-child(3n) {
        margin-right: 0;
    }

    #jims-fe-buttons ul li:nth-child(4n) {
        margin-right: 0;
    }

}
.resp-iframe-container{
    position:relative;
    overflow:hidden;
    height: 80vh;
}
.resp-iframe-container > section > div > iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0
}